body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #1e3a8a;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background: #142855;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 40px;
    background: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background: #1e3a8a;
    color: white;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        margin: 10px;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 18px;
        padding: 15px;
    }

    nav {
        padding: 5px 0;
    }

    nav ul {
        flex-direction: column;
    }

    section {
        padding: 15px;
    }

    iframe {
        width: 100%;
        height: auto;
    }
}
